In [1]:
import json
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
from shapely.geometry import Point, Polygon, LineString
import geodatasets

%matplotlib inline

In [2]:
f = open('Records.json')
data = json.load(f)

In [3]:
locat = []

for i in data['locations']:
	locat.append(i)

f.close()

In [4]:
df = pd.DataFrame.from_dict(locat)

In [5]:
list(df.columns)

['latitudeE7',
 'longitudeE7',
 'accuracy',
 'deviceTag',
 'timestamp',
 'source',
 'velocity',
 'altitude',
 'verticalAccuracy',
 'platformType',
 'serverTimestamp',
 'deviceTimestamp',
 'batteryCharging',
 'formFactor',
 'heading']

In [6]:
df['timestamp']

0         2019-05-13T00:07:33.118Z
1         2019-05-13T00:10:25.414Z
2         2019-05-13T00:10:44.184Z
3         2019-05-13T00:11:17.761Z
4         2019-05-13T00:11:19.763Z
                    ...
305105        2023-04-30T08:08:51Z
305106        2023-04-30T08:10:21Z
305107        2023-04-30T08:10:51Z
305108        2023-04-30T08:11:44Z
305109        2023-04-30T08:12:17Z
Name: timestamp, Length: 305110, dtype: object

In [7]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='ISO8601')
df['serverTimestamp'] = pd.to_datetime(df['serverTimestamp'], format='ISO8601')
df['deviceTimestamp'] = pd.to_datetime(df['deviceTimestamp'], format='ISO8601')

In [8]:
latlong_factor = float(1e7)

df['longitude'] = df['longitudeE7'].astype('float64') / latlong_factor
df['latitude'] = df['latitudeE7'].astype('float64') / latlong_factor

df.to_csv('Records.csv')

df

,latitudeE7,longitudeE7,accuracy,deviceTag,timestamp,source,velocity,altitude,verticalAccuracy,platformType,serverTimestamp,deviceTimestamp,batteryCharging,formFactor,heading,longitude,latitude
0,404151468,-741586153,10,315281513,2019-05-13 00:07:33.118000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158615,40.415147
1,404149535,-741581157,10,315281513,2019-05-13 00:10:25.414000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158116,40.414954
2,404152396,-741586646,54,315281513,2019-05-13 00:10:44.184000+00:00,VISIT_DEPARTURE,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158665,40.415240
3,404138947,-741505936,10,315281513,2019-05-13 00:11:17.761000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.150594,40.413895
4,404131507,-741486842,145,315281513,2019-05-13 00:11:19.763000+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.148684,40.413151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305105,403120607,-740747435,572,-1310847974,2023-04-30 08:08:51+00:00,MANUAL,NaN,14.0,7.0,IOS,2023-04-30 08:08:51.972000+00:00,2023-04-30 08:08:51.697000+00:00,False,PHONE,NaN,-74.074743,40.312061
305106,403076713,-740725597,52,-1310847974,2023-04-30 08:10:21+00:00,MANUAL,NaN,10.0,6.0,IOS,2023-04-30 08:10:21.329000+00:00,2023-04-30 08:10:21.102000+00:00,False,PHONE,NaN,-74.072560,40.307671
305107,403084611,-740700484,35,-1310847974,2023-04-30 08:10:51+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:03.103000+00:00,2023-04-30 08:12:02.444000+00:00,False,PHONE,NaN,-74.070048,40.308461
305108,403083612,-740698287,35,-1310847974,2023-04-30 08:11:44+00:00,MANUAL,NaN,8.0,5.0,IOS,2023-04-30 08:11:44.821000+00:00,2023-04-30 08:11:44.589000+00:00,False,PHONE,NaN,-74.069829,40.308361
305109,403083608,-740698213,35,-1310847974,2023-04-30 08:12:17+00:00,MANUAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:18.209000+00:00,2023-04-30 08:12:17.998000+00:00,False,PHONE,NaN,-74.069821,40.308361

In [9]:
source = list(df['source'].unique())
deviceTag = list(df['deviceTag'].unique())
platformType = list(df['platformType'].unique())
batteryCharging = list(df['batteryCharging'].unique())
formFactor = list(df['formFactor'].unique())
heading = list(df['heading'].unique())

print(source)
print(deviceTag)
print(platformType)
print(batteryCharging)
print(formFactor)
print(heading)

[nan, 'VISIT_DEPARTURE', 'VISIT_ARRIVAL', 'MANUAL']
[315281513, -1798600622, -1310847974]
[nan, 'IOS']
[nan, False, True]
[nan, 'PHONE']
[nan, 270.0, 194.0, 314.0, 215.0, 219.0, 15.0, 104.0, 260.0, 257.0, 169.0, 195.0, 184.0, 182.0, 140.0, 6.0, 344.0, 199.0, 202.0, 180.0, 211.0, 243.0, 189.0, 188.0, 200.0, 187.0, 181.0, 190.0, 328.0, 72.0, 73.0, 356.0, 354.0, 74.0, 75.0, 176.0, 134.0, 126.0, 156.0, 147.0, 152.0, 170.0, 172.0, 171.0, 154.0, 150.0, 264.0, 279.0, 345.0, 63.0, 49.0, 113.0, 355.0, 353.0, 16.0, 2.0, 326.0, 261.0, 28.0, 36.0, 50.0, 165.0, 85.0, 234.0, 129.0, 175.0, 192.0, 204.0, 203.0, 220.0, 222.0, 207.0, 206.0, 208.0, 19.0, 107.0, 108.0, 109.0, 141.0, 125.0, 153.0, 349.0, 254.0, 114.0, 330.0, 178.0, 102.0, 305.0, 287.0, 111.0, 62.0, 201.0, 106.0, 101.0, 103.0, 144.0, 151.0, 346.0, 174.0, 164.0, 112.0, 116.0, 127.0, 155.0, 161.0, 163.0, 168.0, 52.0, 53.0, 80.0, 54.0, 357.0, 70.0, 91.0, 87.0, 79.0, 105.0, 212.0, 267.0, 262.0, 120.0, 77.0, 24.0, 269.0, 238.0, 235.0, 138.0, 193.0, 186.0, 198.0, 179.0, 177.0, 183.0, 196.0, 216.0, 209.0, 136.0, 10.0, 18.0, 340.0, 333.0, 307.0, 285.0, 21.0, 23.0, 29.0, 12.0, 33.0, 13.0, 11.0, 1.0, 8.0, 358.0, 22.0, 32.0, 26.0, 334.0, 332.0, 352.0, 137.0, 60.0, 57.0, 331.0, 250.0, 289.0, 131.0, 157.0, 242.0, 320.0, 68.0, 252.0, 253.0, 324.0, 162.0, 76.0, 273.0, 341.0, 312.0, 47.0, 246.0, 294.0, 233.0, 210.0, 191.0, 228.0, 205.0, 224.0, 167.0, 94.0, 158.0, 299.0, 272.0, 348.0, 322.0, 227.0, 139.0, 335.0, 197.0, 166.0, 281.0, 278.0, 88.0, 100.0, 93.0, 96.0, 7.0, 288.0, 274.0, 39.0, 256.0, 271.0, 284.0, 339.0, 14.0, 35.0, 4.0, 27.0, 25.0, 17.0, 3.0, 0.0, 9.0, 337.0, 315.0, 313.0, 318.0, 329.0, 71.0, 82.0, 38.0, 123.0, 90.0, 83.0, 292.0, 61.0, 64.0, 213.0, 280.0, 259.0, 282.0, 336.0, 306.0, 290.0, 66.0, 55.0, 226.0, 232.0, 217.0, 146.0, 118.0, 149.0, 266.0, 46.0, 41.0, 58.0, 40.0, 20.0, 308.0, 342.0, 338.0, 30.0, 31.0, 319.0, 89.0, 173.0, 143.0, 248.0, 223.0, 239.0, 214.0, 237.0, 48.0, 351.0, 251.0, 255.0, 249.0, 225.0, 185.0, 240.0, 323.0, 160.0, 95.0, 5.0, 86.0, 78.0, 59.0, 283.0, 316.0, 321.0, 159.0, 296.0, 258.0, 343.0, 133.0, 56.0, 301.0, 359.0, 231.0, 67.0, 142.0, 119.0, 236.0, 241.0, 295.0, 42.0, 37.0, 311.0, 327.0, 298.0, 347.0, 148.0, 135.0, 69.0, 117.0, 124.0, 218.0, 230.0, 97.0, 277.0, 44.0, 34.0, 84.0, 247.0, 350.0, 275.0, 293.0, 302.0, 115.0, 132.0, 300.0, 325.0, 229.0, 121.0, 263.0, 130.0, 304.0, 317.0, 81.0, 291.0, 276.0, 92.0, 128.0, 310.0, 99.0, 45.0, 286.0, 297.0, 309.0, 245.0, 122.0, 268.0, 265.0, 303.0, 221.0, 51.0, 110.0, 244.0, 145.0, 98.0, 65.0, 43.0]

In [10]:
df["coordinates"] = list(zip(df.longitude, df.latitude))
df["coordinates"] = df["coordinates"].apply(Point)

df

,latitudeE7,longitudeE7,accuracy,deviceTag,timestamp,source,velocity,altitude,verticalAccuracy,platformType,serverTimestamp,deviceTimestamp,batteryCharging,formFactor,heading,longitude,latitude,coordinates
0,404151468,-741586153,10,315281513,2019-05-13 00:07:33.118000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158615,40.415147,POINT (-74.1586153 40.4151468)
1,404149535,-741581157,10,315281513,2019-05-13 00:10:25.414000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158116,40.414954,POINT (-74.1581157 40.4149535)
2,404152396,-741586646,54,315281513,2019-05-13 00:10:44.184000+00:00,VISIT_DEPARTURE,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158665,40.415240,POINT (-74.1586646 40.4152396)
3,404138947,-741505936,10,315281513,2019-05-13 00:11:17.761000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.150594,40.413895,POINT (-74.1505936 40.4138947)
4,404131507,-741486842,145,315281513,2019-05-13 00:11:19.763000+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.148684,40.413151,POINT (-74.1486842 40.4131507)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305105,403120607,-740747435,572,-1310847974,2023-04-30 08:08:51+00:00,MANUAL,NaN,14.0,7.0,IOS,2023-04-30 08:08:51.972000+00:00,2023-04-30 08:08:51.697000+00:00,False,PHONE,NaN,-74.074743,40.312061,POINT (-74.0747435 40.3120607)
305106,403076713,-740725597,52,-1310847974,2023-04-30 08:10:21+00:00,MANUAL,NaN,10.0,6.0,IOS,2023-04-30 08:10:21.329000+00:00,2023-04-30 08:10:21.102000+00:00,False,PHONE,NaN,-74.072560,40.307671,POINT (-74.0725597 40.3076713)
305107,403084611,-740700484,35,-1310847974,2023-04-30 08:10:51+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:03.103000+00:00,2023-04-30 08:12:02.444000+00:00,False,PHONE,NaN,-74.070048,40.308461,POINT (-74.0700484 40.3084611)
305108,403083612,-740698287,35,-1310847974,2023-04-30 08:11:44+00:00,MANUAL,NaN,8.0,5.0,IOS,2023-04-30 08:11:44.821000+00:00,2023-04-30 08:11:44.589000+00:00,False,PHONE,NaN,-74.069829,40.308361,POINT (-74.0698287 40.3083612)
305109,403083608,-740698213,35,-1310847974,2023-04-30 08:12:17+00:00,MANUAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:18.209000+00:00,2023-04-30 08:12:17.998000+00:00,False,PHONE,NaN,-74.069821,40.308361,POINT (-74.0698213 40.3083608)

In [11]:
gdf = gpd.GeoDataFrame(df, geometry="coordinates")
gdf

,latitudeE7,longitudeE7,accuracy,deviceTag,timestamp,source,velocity,altitude,verticalAccuracy,platformType,serverTimestamp,deviceTimestamp,batteryCharging,formFactor,heading,longitude,latitude,coordinates
0,404151468,-741586153,10,315281513,2019-05-13 00:07:33.118000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158615,40.415147,POINT (-74.15862 40.41515)
1,404149535,-741581157,10,315281513,2019-05-13 00:10:25.414000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158116,40.414954,POINT (-74.15812 40.41495)
2,404152396,-741586646,54,315281513,2019-05-13 00:10:44.184000+00:00,VISIT_DEPARTURE,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.158665,40.415240,POINT (-74.15866 40.41524)
3,404138947,-741505936,10,315281513,2019-05-13 00:11:17.761000+00:00,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.150594,40.413895,POINT (-74.15059 40.41389)
4,404131507,-741486842,145,315281513,2019-05-13 00:11:19.763000+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,-74.148684,40.413151,POINT (-74.14868 40.41315)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305105,403120607,-740747435,572,-1310847974,2023-04-30 08:08:51+00:00,MANUAL,NaN,14.0,7.0,IOS,2023-04-30 08:08:51.972000+00:00,2023-04-30 08:08:51.697000+00:00,False,PHONE,NaN,-74.074743,40.312061,POINT (-74.07474 40.31206)
305106,403076713,-740725597,52,-1310847974,2023-04-30 08:10:21+00:00,MANUAL,NaN,10.0,6.0,IOS,2023-04-30 08:10:21.329000+00:00,2023-04-30 08:10:21.102000+00:00,False,PHONE,NaN,-74.072560,40.307671,POINT (-74.07256 40.30767)
305107,403084611,-740700484,35,-1310847974,2023-04-30 08:10:51+00:00,VISIT_ARRIVAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:03.103000+00:00,2023-04-30 08:12:02.444000+00:00,False,PHONE,NaN,-74.070048,40.308461,POINT (-74.07005 40.30846)
305108,403083612,-740698287,35,-1310847974,2023-04-30 08:11:44+00:00,MANUAL,NaN,8.0,5.0,IOS,2023-04-30 08:11:44.821000+00:00,2023-04-30 08:11:44.589000+00:00,False,PHONE,NaN,-74.069829,40.308361,POINT (-74.06983 40.30836)
305109,403083608,-740698213,35,-1310847974,2023-04-30 08:12:17+00:00,MANUAL,NaN,NaN,NaN,IOS,2023-04-30 08:12:18.209000+00:00,2023-04-30 08:12:17.998000+00:00,False,PHONE,NaN,-74.069821,40.308361,POINT (-74.06982 40.30836)

In [12]:
# state_df = gpd.read_file("https://datascience.quantecon.org/assets/data/cb_2016_us_state_5m.zip")
# state_df.head()

In [13]:
# fig, gax = plt.subplots(figsize=(10, 10))
# state_df.query("NAME == 'Wisconsin'").plot(ax=gax, edgecolor="black", color="white")
# plt.show()

In [14]:
# geodatasets.data

In [15]:
# print(geodatasets.get_url("naturalearth.land"))
# print(geodatasets.get_path("naturalearth.land"))

# naturalearth = gpd.read_file(geodatasets.get_path("naturalearth.land"))
# naturalearth

In [16]:
# gpd.datasets.available

In [17]:
# naturalearth.plot()
# from mpl_toolkits.axes_grid1 import make_axes_locatable
# fig, ax = plt.subplots(1, 1)
# divider = make_axes_locatable(ax)
# cax = divider.append_axes("bottom", size="5%", pad=0.1)

# fig, ax = plt.subplots()
# naturalearth.plot(ax=ax, color='white', edgecolor='black')